/*complete user registration------------------------------*/
#complete_register_container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.complete_register_title{
	color:#EEEEEE;
	text-align:center;
	border-bottom-style:groove;
	padding-bottom: 10px;
    padding-top: 7px;
    text-transform: uppercase;
}

/*form complete user registration*/
.form_complete_register {
    margin: 10px;
}

.first{
}

.image_complete_register{
	margin-top:15%;
	width:90%;
	margin-left:5%;
}

.second{
}

.labels_complete_register, .info_complete_register{
	color:#EEEEEE;
	padding-right: 3px;
}

.tablet_2{
}

.mobile{
}

.email_labels_complete_register{
}

.email_info_complete_register{
}

.but_save{
	float: right !important;
	width:50%;
	margin-top:5px;
	margin-bottom:25px;
	border-radius: 0px;
}

.but_skip{
	float: left !important;
	width:50%;
	margin-top:5px;
	margin-bottom:25px;
    border-radius: 0px;
}

/*profile---------------------------------------------------------*/
#profile_container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.profile_title{
	color:#EEEEEE;
	text-align:center;
	text-transform: uppercase;
	border-bottom-style:groove;
	padding-bottom: 10px;
	margin-top: 15px;    
}

.profile_user_image{
    width: 100%;
	margin-top:70%;
	border-radius: 5px;
}

.design_table_information, design_table_activity{
	color:#EEEEEE;
}

.table_title{
	color:#EEEEEE;
	text-align:center;
    text-transform: uppercase;
}

.tag_table_info{
	font-weight:bold;
	width: 98px;
}

.label_table_activity{
	color:#EEEEEE;
}

.info_table_activity{
	color:#EEEEEE;
}

.editable span{
	display:block;
}

.editable span:hover {
	background:url(../images/edit.png) 90% 50% no-repeat;
	cursor:pointer;
}

.text_editable{
	color:#000000;
}

.cancel{
	background:url(../images/cancel.png) 0 0 no-repeat;
}

.save{
	background:url(../images/save.png) 0 0 no-repeat;
}

.message{
	display:block;
	text-align:center;
	margin:0 0 20px 0;
}

.ok{
	display:block;
	padding:10px;
	text-align:center;
	background:green;
	color:#fff;
}

.ko{
	display:block;
	padding:10px;
	text-align:center;
	background:red;
	color:#fff;
}

td input{
	height:24px;
	width:170px;
	border:1px solid #ddd;
	padding:0 5px;
	margin:0;
	border-radius:6px;
	vertical-align:middle;
}

a.enlace{
	display:inline-block;
	width:24px;
	height:24px;
	margin:0 0 0 5px;
	overflow:hidden;
	text-indent:-999em;
	vertical-align:middle;
}
			
/*category-----------------------------------------------------*/
#category_container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
	height:600px;
}

.category_title{
	color:#EEEEEE;
	text-align:center;
	text-transform: uppercase;
	border-bottom-style:outset;
	padding-bottom: 10px;
    padding-top: 5px;
    
}

/*promotion-----------------------------------------------------*/
#promotion_container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
	height:600px;
}

.promotion_title{
	color:#EEEEEE;
	text-align:center;
	text-transform: uppercase;
	border-bottom-style:outset;
	padding-bottom: 10px;
    padding-top: 5px;
    
}

/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 768px) and (max-width: 991px) { 
#complete_register_container {
    width: 455px;
    height: 495px;
	margin: 0px auto;
	margin-top: -10px;
}


.complete_register_title{
	padding-top:13px;
}

.profile_title{
	padding-top:15px;
}

.first{
	width:136px;
	margin-top:20px;
}

.second{
	margin-left: 135px;
	margin-top:-190px;;
}

}

/*Tablet -----------2---------------------tablet-----------2----------------tablet*/
@media (min-width: 527px) and (max-width: 767px) { 
#complete_register_container {
    width: 455px;
    height: 515px;
	margin: 0px auto;
}

.complete_register_title{
	padding-top:13px;
}

.profile_title{
	padding-top:15px;
}

.first{
	width:136px;
	margin-top:20px;
}

.second{	
	margin-left:170px;
	margin-top:-185px;
}

.tablet_2{
	position: absolute;
	margin-top: -31px;
    margin-left: 85px;
}

.email_labels_complete_register{
	position: absolute;
	margin-left: -185px;
	margin-top:-5px;
}

.email_info_complete_register{
	position: absolute;
    margin-left: -130px;
    margin-top: -12px;
}

.but_save{
	margin-top:25px;
}

.but_skip{
	margin-top:25px;
}

}

/*movil-------2------movil-----------2----------movil-------------2----------*/
@media (min-width: 451px) and (max-width:526px){
#complete_register_container {
    width: 100%;
    height: 637px;
	margin: 0px auto;
}

.profile_title{
	padding-top:15px;
}

.first{
	width:136px;
	margin: 0px auto;
}

.second{
	margin-top:35px;
	width:65%;
}

.tablet_2, .mobile, .email_info_complete_register{
	position: absolute;
	margin-top: -31px;
    margin-left: 85px;
}

}


/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 300px) and (max-width:450px){
#complete_register_container {
	position:fixed;
    width: 100%;
	left:0%;
    height: 640px;
	top:75px;
}

.first{
	width:136px;
	margin: 0px auto;
}

.second{
	margin-top:35px;
	width:65%;
}

.tablet_2, .mobile, .email_info_complete_register{
	position: absolute;
	margin-top: -31px;
    margin-left: 80px;
}

}





















