/*profile---------------------------------------------------------*/
#profile_container{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	height: 600px;
}

.profile_title{
	color: #6AB0EC;
	text-align: center;
	text-transform: uppercase;
	border-bottom-style: outset;
	padding-bottom: 10px;
	padding-top: 5px;
	font-size: 20px;
}

.profile_subtitle{
	text-align: center;
	color: rgb(51, 122, 183);
	text-transform: uppercase;
	font-size: 15px;
}

/*profile information-----------------*/
.pro_info{ 
    color: whitesmoke;
}

.cont_info{
	text-align:center;
}

.pro_img_user{
	border-radius: 5px;
	height: inherit;
	max-width: 240px;
	max-height: 185px;
}

.nickname_details{
	font-size: 15px;
	text-transform: uppercase;
	position: absolute;
	margin-top: 10px;
	left: 0px;
	right: 0px;
}

.info_details{
	text-align:left;
    margin: 20px auto;
	width: 396px;
}

.labels_info{
	padding-top: 7px;
	margin-bottom: 0;
}

.profile_btns{
	margin-top: 20px;
	width: 38%;
}

/*edit pass*/
.form_edit_pass{
	width: 70%;
	margin: 20px auto;
}

.pass_btns{
	width: 42%;
	margin-left: 5%;
}

/*edit info*/
.form_edit_profile{
	width: 88%;
	margin: 20px auto;
}

.edit_info_btns{
	margin-top: 20px;
	width: 38%;
	margin-left: 7%;
}

/*profile activity-------------------*/
.pro_acti{ 
    color: whitesmoke;
}

.cont_acty{
	text-align:center;
}












/*category-----------------------------------------------------*/
#category_container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
	height:600px;
}

.category_title{
	color: #6AB0EC;
	text-align:center;
	text-transform: uppercase;
	border-bottom-style:outset;
	padding-bottom: 10px;
    padding-top: 5px;
    font-size: 20px;
}

/*option search-------------------------------------------*/
.ui-autocomplete, .ui-front, .ui-menu ui-widget, .ui-widget-content{
	z-index: 501;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
  
.LV_validation_message{
    position: absolute;
    top: 8px;
    right: 67px;
    color: firebrick;
}

/*options friends-------------------------------------------*/
.conten_friend_info{
	height: 120px;
}

.image_friends{
	width:84px;
	height:84px;
	border-radius:5px;
}

.name_friends{
    font-weight: bold;
}





/*--------------about----------------------about----------------------*/

.what{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.about_content{
    margin-left: 150px;
    margin-top: 40px;
    width: 600px;
    color: white;
    text-align: center;
    font-size: 16px;
}
.about_logo{
    margin-top: -120px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
.about_content{
    margin-left: 128px;
    margin-top: 32px;
    width: 480px;
    color: white;
    text-align: center;
    font-size: 16px;
}

}

@media (min-width: 768px) and (max-width: 991px) { 
.about_content{
    margin-left: 140px;
    margin-top: 26px;
    width: 384px;
    color: white;
    text-align: center;
    font-size: 16px;
}

}
@media (min-width: 620px) and (max-width: 767px) { 
.about_content{
    margin-left: 140px;
    margin-top: 26px;
    width: 384px;
    color: white;
    text-align: center;
    font-size: 16px;
}
}
@media (min-width: 601px) and (max-width: 619px) { 
.about_content{
    margin-left: 60px;
    margin-top: 26px;
    width: 384px;
    color: white;
    text-align: center;
    font-size: 16px;
}
}

@media (min-width: 587px) and (max-width: 600px) { 
.about_content{
    margin-left: 50px;
    margin-top: 26px;
    width: 384px;
    color: white;
    text-align: center;
    font-size: 16px;
}
}



@media (min-width: 527px) and (max-width: 586px) { 
.about_content{
    margin-left: 70px;
    margin-top: 21px;
    width: 307px;
    color: white;
    text-align: center;
    font-size: 16px;
}
}


@media (min-width: 451px) and (max-width:526px){
    .about_content{
    margin-left: 90px;
    margin-top: 18px;
    width: 203px;
    color: white;
    text-align: center;
    font-size: 16px;
}
.about_scroll{
    overflow-y:scroll;
    max-height: 600px;
}

}


/*-----------------help-------------------help-------------------------------*/
dl dt {
cursor: pointer;
font-size: 19px;
font-weight: bold;
}
.help_content{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 17px;
}