@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
	height:98%;
	background: url(../images/fondo.png);
	font-family: myFont;
}

.page_title, .register_title{
	color:#111111;	
	text-align:center;
	margin-top:10px;
	text-transform: uppercase;	
}

/*map-------------------------------------*/
.map_frame {
    background-color: rgba(0, 0, 0, 0.8);
    height: 754px;
    margin-left: .5%;
	margin-right: .5%;
	margin-bottom: .5%;
	border-radius: 5px;
}

#map-canvas {
    height: 99.8%;
	width: 99.8%;
	margin-left: .1%;
	margin-right: .1%;
	margin-bottom: .1%;
	top:.1%;  
	border-radius: 5px;
}

.loading_map{
	position:absolute;
	top:45%;
	left:47.5%;
}

/*black container----------------container_login-----------*/
.container_login{
    position: absolute;
	top: 100px;
	left: 50px;
	width: 400px;
	height: 650px;
    background-color: rgba(0, 0, 0, 0.8);
}

/*image_login-------------------------*/
.login_image{
	top:30px;
    text-align: -webkit-center;
}

/*login form---------------------------------*/
.login_form{
	margin-top:110px;
}

.labels_login{
	color:#FFFFFF;
}

.login_button{
	float: right !important;
	padding: 8px;
	margin-top:10px;
	width:120px;
}

/*new register----------------------------------*/
.new_register{
	margin-top:120px;	
}

/*registration form----------------------------------*/
.registration_form{
	margin-top:70px;
}

.register_title{
	color:#EEEEEE;	
}

.register_buttons{
	text-align:center;
}

.cancel_button, .ok_button{
	width:120px;
	padding: 8px;
}

/*Validation form to register a new user----------------*/
.LV_validation_message{
    font-weight:bold;
    position: absolute;
    margin-top: -26px;
    right: 25px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 451px) and (max-width: 991px) { 
.map_frame {
    height: 730px;
}

.container_login{
	width: 350px;
	height: 590px;
}

.login_image{
	width:330px;
	margin:0 auto;
}

.login_form, .registration_form{
	width:300px;
	margin:0 auto;
	margin-top:100px;
}

.registration_form{
	margin-top:60px;
}

.register_buttons{
	margin-top:-20px;
}

.new_register{
	margin-top:85px;	
	margin-left:23px;
}

.LV_validation_message{
    right: 50px;
}

}

/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 300px) and (max-width:450px){
.map_frame {
    height: 710px;
	width:100%;
    margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	border-radius: 0px;
}

.container_login{
	width:99%;
	left:.5%;
	height: 590px;
}

.login_image{
	width:80%;
	margin:0 auto;
}

.login_form, .registration_form{
	width:80%;
	margin:0 auto;
	margin-top:100px;
}

.registration_form{
	margin-top:60px;
}

.register_buttons{
	margin-top:-20px;
}

.new_register{	
	margin-top:95px;
	text-align:center;
}

.LV_validation_message{
    right: 15%;
}

}


















