/*profile---------------------------------------------------------*/
#profile_container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.profile_title{
	color:#EEEEEE;
	text-align:center;
	text-transform: uppercase;
	border-bottom-style:groove;
	padding-bottom: 10px;
	margin-top: 15px;    
}

.profile_user_image{
    width: 100%;
	margin-top:70%;
	border-radius: 5px;
}

.design_table_information, design_table_activity{
	color:#EEEEEE;
}

.table_title{
	color:#EEEEEE;
	text-align:center;
    text-transform: uppercase;
}

.tag_table_info{
	font-weight:bold;
	width: 98px;
}

.label_table_activity{
	color:#EEEEEE;
}

.info_table_activity{
	color:#EEEEEE;
}

.editable span{
	display:block;
}

.editable span:hover {
	background:url(../images/edit.png) 90% 50% no-repeat;
	cursor:pointer;
}

.text_editable{
	color:#000000;
}

.cancel{
	background:url(../images/cancel.png) 0 0 no-repeat;
}

.save{
	background:url(../images/save.png) 0 0 no-repeat;
}

.message{
	display:block;
	text-align:center;
	margin:0 0 20px 0;
}

.ok{
	display:block;
	padding:10px;
	text-align:center;
	background:green;
	color:#fff;
}

.ko{
	display:block;
	padding:10px;
	text-align:center;
	background:red;
	color:#fff;
}

td input{
	height:24px;
	width:170px;
	border:1px solid #ddd;
	padding:0 5px;
	margin:0;
	border-radius:6px;
	vertical-align:middle;
}

a.enlace{
	display:inline-block;
	width:24px;
	height:24px;
	margin:0 0 0 5px;
	overflow:hidden;
	text-indent:-999em;
	vertical-align:middle;
}
			


















