/* CSS Document */

html,body{
	height:100%;
	background: url(../images/fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*contenedor del mapa-------------*/
.cont-map{
    position: absolute;
	width:84%;
	left: 8%;
	height:86.2%;
	top: 6.6%;
	border-radius: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
	background:#44444F;	
	padding: 1em;
    margin: 0 0 2em;  
	box-shadow: inset 0 0 5px 5px #222;
}

/*mapa--------------------------*/
#map-canvas {
  	position:absolute;
	width:97%;
    left: 1.5%;
	height:94%;
	top:3%;	
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.button_location{
	position:absolute;
	top:86%;
	right:9.2%;
}

.loader_map{
	position:absolute;
	top:45%;
	left:47.5%;
}

/*footer------------------------*/
#footer{
	position: absolute;
	width: 84%;
	left: 8%;
	padding:.3em;
	top:92.7%;
	height:7%;
	background:#EEEEEE;	
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}
.foot{
    text-align:center;
	color:#333333;
	font-weight:bold;	
}

/*---------------------------------header-------------------desktop--------------------------*/
.img_ur{
	width:44px;
	margin-top:-12px;	
}

.img_user{
	width:44px;
	margin-top:-10px;
	margin-right:-20px;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.mark_header{
	position:fixed;
	height:6.6%;
	width:84%;
	left:8%;
	z-index:3;
}

.search_header{
	position:absolute;
	margin-left:42%;
}

/*--------------------------------------header---------------mobile------------------------------*/
.mark_header_mobile{
	display:none;
	position:fixed;
	height:6.6%;
	width:100%;
	left:0%;
	z-index:3;
}

.img_ur_m{
	position:absolute;
	width:44px;
	left:2px;
	top:2px;
}

.options_page{
	position:absolute;
	left:50px;
	top:16px;
}

.img_user_m{
	position:absolute;
	width:44px;
	right:4px;
	top:4px;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.options_user{
	position:absolute;
	right:52px;
	top:16px;
}

.option_search{
	width:40%;
	position:absolute;
	left:30%;
	top:9px;
}

/*paneles notifications and friends---------------*/
.panel {
    display: none;
    width: 250px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: inset 0 0 5px 5px #222;
}
	
.butt_notifications{
	position:absolute;
	top:9.2%;
	left:9.2%;
	z-index:1;
}

.butt_friends{
	position:absolute;
	top:9.2%;
	right:9.2%;
	z-index:2;
}

/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 451px) and (max-width: 991px) { 
/*---header------------------*/
.mark_header{
	display:none;
}

.mark_header_mobile{
	display:block;
	width:90%;
	left: 5%;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

/*footer------------------------*/
#footer{
	width: 90%;
	left: 5%;
}

/*contenedor del mapa-------------*/
.cont-map{
	width:90%;
	left: 5%;
}

/*buttons notifications and friends---------------*/
.butt_notifications{
	left:6.4%;
}

.butt_friends{
	right:6.4%;
}

/*mapa--------------------------------*/
.button_location{
	right:6.4%;
}


}


/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 280px) and (max-width:450px){
/*---header------------------*/
.mark_header{
	display:none;
}

.mark_header_mobile{
	display:block;
}

/*--footer-----------------------*/
#footer{
	width: 100%;
	left: 0%;
	top:92.7%;
	height:7%;
	border-radius: 0px;
}

/*contenedor del mapa-------------*/
.cont-map{
	width:100%;
	height:81.8%;
	top: 10.9%;	
	left:0%;
	border-radius: 0px;
}

/*mapa--------------------------*/
#map-canvas {
	width:98%;
    left: 1%;
	height:99%;
	top:.5%;	
	border: 1px;
}

.button_location{
	top:87.9%;
	width:28%;;
	left:36%;
}

/*paneles notifications and friends---------------*/	
.butt_notifications{
	width:50%;
	top:6.6%;
	left:0%;
	z-index:1;
	border-radius:0px;
}

.butt_friends{
	width:50%;
	top:6.6%;
	right:0%;
	z-index:2;
	border-radius:0px;
}

}

















