/* CSS Document */
/*perfil del usuario-----------------------*/
#login {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.titul_profile{
	color:#EEEEEE;
	text-align:center;
	border-bottom-style:groove;
	padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.form_pro {
    margin: 10px;
}

.image_pro{
	margin-top:15%;
	width:90%;
	margin-left:5%;
}

.etiquetas_profile, .info_profile{
	color:#EEEEEE;
}

.but_save{
	float: right !important;
	width:50%;
	margin-top:5px;
	margin-bottom:25px;
	border-radius: 0px;
}

.but_skip{
	float: left !important;
	width:50%;
	margin-top:5px;
	margin-bottom:25px;
    border-radius: 0px;
}

.primero{
}

.segundo{
}

.tablet_2{
}

.movil{
}

.email_info_user{
}

.email_etiq_user{
}

.error_men{
	display:none;
}

.error_text{
	color:#FF0000;
	padding-top: 8px;
    text-transform: uppercase;
	text-align:center;
}

.error_image{
	padding-top: 15px;
	padding-left: 40%;
}


/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 768px) and (max-width: 991px) { 
#login {
    width: 455px;
    height: 495px;
	margin: 0px auto;
	margin-top: -10px;
}

.titul_profile{
    padding-top: 20px;
}

.primero{
	width:136px;
}

.segundo{
	margin-left: 135px;
	margin-top:-202px;;
}

}

/*Tablet -----------2---------------------tablet-----------2----------------tablet*/
@media (min-width: 527px) and (max-width: 767px) { 
#login {
    width: 455px;
    height: 520px;
	margin: 0px auto;
}

.titul_profile{
    padding-top: 20px;
}

.primero{
	width:136px;
}

.segundo{	
	margin-left:170px;
	margin-top:-202px;
}

.tablet_2{
	position: absolute;
	margin-top: -31px;
    margin-left: 85px;
}

.email_etiq_user{
	position: absolute;
	margin-left: -185px;
	margin-top:-5px;
}

.email_info_user{
	position: absolute;
    margin-left: -130px;
    margin-top: -12px;
}

.but_save{
	margin-top:25px;
}

.but_skip{
	margin-top:25px;
}

}

/*movil-------2------movil-----------2----------movil-------------2----------*/
@media (min-width: 451px) and (max-width:526px){
#login {
    width: 100%;
    height: 642px;
	margin: 0px auto;
}

.titul_profile{
    padding-top: 20px;
}

.primero{
	width:136px;
	margin: 0px auto;
}

.segundo{
	margin-top:35px;
	width:65%;
}

.tablet_2, .movil, .email_info_user{
	position: absolute;
	margin-top: -31px;
    margin-left: 85px;
}

}


/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 300px) and (max-width:450px){
#login {
	position:fixed;
    width: 100%;
	left:0%;
    height: 650px;
	top:75px;
}

.titul_profile{
    padding-top: 20px;
}

.primero{
	width:136px;
	margin: 0px auto;
}

.segundo{
	margin-top:35px;
	width:65%;
}

.tablet_2, .movil, .email_info_user{
	position: absolute;
	margin-top: -31px;
    margin-left: 80px;
}

}





















