/* CSS Document */

html, body {
	height:98%;
	background: url(../images/fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*mapa-------------------------------------*/
#map-canvas {
    height: 95%;
    margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom:.05%;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.button_location{
	position:absolute;
	top:94%;
	right:1%;
}

.loader_map{
	position:absolute;
	top:45%;
	left:47.5%;
}
/*contened_black---------------------------*/
.square_login{
    position: absolute;
	top: 10%;
	left: 3%;
	width: 400px;
	height: 76%;
    background-color: black;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity: 0.8;
}
/*form login---------------------------------*/
.button_log{
	float: right !important;	
}

.tags_log{
	color:#FFFFFF;
}

.log_img{
	top:25px;
}

.log_form{
	position: absolute;
	top:100px;
	width:325px;
}
/*register new----------------------------------*/
.log_regis{
	position:absolute;
	top:84%;
}
/*form register----------------------------------*/
.register_form{
	position: absolute;
	top:100px;
	width:325px;
}

.button_ok{
	float: right !important;
	position:absolute;
	right:20%;
}

.button_canc{
	float: left !important;	
	position:absolute;
	left:20%;
}

/*opcional--------------------------opcional----------------------------opcional*/
@media (min-width: 1201px) and (max-width: 1366px) { 
.button_location{
	right:40px;
}
}

/*opcional--------------------------opcional----------------------------opcional*/
@media (min-width: 992px) and (max-width: 1200px) { 
.button_location{
	right:40px;
}
}

/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 451px) and (max-width: 991px) { 
.square_login{
	left: 30px;
	width: 320px;
	height: 72%;
}

.log_form {
	top:200px;
	width:280px;
	left:33px;
}

.log_img{
    position: absolute;
    margin-left:8%;
    top:8%;
    padding-right:9%;
}

.log_regis{
	left:45px;
}

.register_form{
	top:170px;
	width:280px;
	left:33px;
}

.button_ok{
	top:310px;
}

.button_canc{
	top:310px;
}


}

/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 280px) and (max-width:450px){

.square_login{
	left: 30px;
	width: 280px;
	height: 65%;
}

.log_img{
	width:240px;
	left:33px;
}

.log_form{
	width:250px;
	margin-left:15px;
}

.log_regis{
	left:30px;
	top:83%;
}

.register_form{
	width:250px;
	margin-left:15px;
	top: 80px;
}

.button_ok{
	top:305px;
}

.button_canc{
	top:305px;
}


}


















