/* CSS Document */

html,body{
	height:100%;
	background: url(../images/fondo.png);
}

/*contenedor del mapa-------------*/
.cont-map{
    position: absolute;
	width:84%;
	left: 8%;
	height:701px;
	top: 54px;
	border-radius: 5px;
	background:#44444F;	
	box-shadow: inset 0 0 5px 5px #222;
}

/*mapa--------------------------*/
#map-canvas {
  	position:absolute;
	width:97%;
    left: 1.5%;
	height:94%;
	top:3%;	
	border-radius: 5px;
}

.button_location{
	position:absolute;
	top:692px;
	width:10%;
	left:45%;
}

.loader_map{
	position:absolute;
	top:45%;
	left:47.5%;
}

/*footer------------------------*/
#footer{
	position: absolute;
	width: 84%;
	left: 8%;
	padding:.3em;
	top:756px;
	height:59px;
	background:#EEEEEE;	
	border-radius: 5px;
}
.foot{
    text-align:center;
	color:#333333;
	font-weight:bold;	
}

/*---------------------------------header-------------------desktop--------------------------*/
.img_ur{
	width:44px;
	margin-top:-11px;	
}

.img_user{
	width:44px;
	margin-top:-10px;
	margin-right:-10px;
	border-radius: 5px;
}

.mark_header{
	position:fixed;
	height:54px;
	width:84%;
	left:8%;
	z-index:500;
}

.search_header{
	position:absolute;
	margin-left:42%;
}

/*--------------------------------------header---------------mobile------------------------------*/
.mark_header_mobile{
	display:none;
	position:fixed;
	height:54px;
	width:100%;
	left:0%;
	z-index:500;
}

.img_ur_m{
	position:absolute;
	width:44px;
	left:3px;
	top:3px;
}

.options_page{
	position:absolute;
	left:50px;
	top:16px;
}

.img_user_m{
	position:absolute;
	width:44px;
	right:3px;
	top:4px;
	border-radius: 5px;
}

.options_user{
	position:absolute;
	right:50px;
	top:16px;
}

.option_search{
	position:absolute;
	width:40%;
	left:30%;
	top:9px;
}

/*paneles notifications and friends---------------*/
.panel {
    display: none;
    width: 250px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: inset 0 0 5px 5px #222;
}
	
.butt_notifications{
	position:absolute;
	top:75px;
	left:9.2%;
	z-index:1;
	width:200px;
	padding:10px;
	border-radius: 0px;
}

.butt_friends{
	position:absolute;
	top:75px;
	right:9.2%;
	z-index:2;
	width:200px;
	padding:10px;
	border-radius: 0px;
}

/*Tablet --------------------------------tablet---------------------------tablet*/
@media (min-width: 451px) and (max-width: 991px) { 
.mark_header{
	display:none;
}

.mark_header_mobile{
	display:block;
	width:90%;
	left: 5%;
	border-radius: 5px;
}

#map-canvas {
	height:98%;
	top:1%;	
}

#footer, .cont-map{
	width: 90%;
	left: 5%;
}

.butt_notifications{
	top:61px;
	left:6.3%;
	width:190px;
}

.butt_friends{
	top:61px;
	right:6.3%;
	width:190px;
}

.button_location{
	top:705px;
	width:20%;
	left:40%;	
}

}


/*movil-------------movil---------------------movil-----------------------*/
@media (min-width: 280px) and (max-width:450px){
/*---header------------------*/
.mark_header{
	display:none;
}

.mark_header_mobile{
	display:block;
}

/*--footer-----------------------*/
#footer{
	width: 100%;
	left: 0%;
	top:728px;
	border-radius: 0px;
}

/*contenedor del mapa-------------*/
.cont-map{
	width:100%;
	left:0%;
	height:618px;
	top: 110px;		
	border-radius: 0px;
}

/*mapa--------------------------*/
#map-canvas {
	width:99.8%;
    left: .1%;
	height:99.6%;
	top:.1%;
	border-radius: 0px;
}

.button_location{
	top:685px;
	width:28%;
	left:36%;
}

/*paneles notifications and friends---------------*/	
.butt_notifications{
	width:50%;
	top: 59px;
	left:0%;
	z-index:1;
	border-radius:0px;
}

.butt_friends{
	width:50%;
	top:59px;
	right:0%;
	z-index:2;
	border-radius:0px;
}

}

















